body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #595454;
}

header {
    padding: 20px;
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    margin: 20px 60px;
    text-align: center;
}


nav {
    background-color: #1e1c1c;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    margin: 20px 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#content{
    padding-top: 20px;
    padding-bottom: 20px;
}
section h2 {
    color: #fff;
}

section p {
    color: #fff;
}

section ul {
    color: #fff;
}

section ol {
    color: #fff;
}

section li {
    margin-bottom: 5px;
}

section:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

footer {
    background-color: #1e1c1c;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: static;
    bottom: 0;
}

#social {
    display: flex;
    justify-content: center;
}

footer p {
    margin: 0;
    display: inline-block;
}

footer a {
    padding: 10px 10px;
}

#profile-image {
    text-align: center;
    padding: 20px;
}

#profile-image img {
    width: 240px; 
    height: 280px; 
    border-radius: 50%;
    border: 4px solid #333;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {    
    nav ul {
        display: block;
        padding: 10px;
    }

    nav li {
        display: block;
        margin: 5px 0;
    }
    
    header{
        margin: 20px 20px;
    }

    section {
        margin: 20px 20px;
    }

    #social {
        flex-wrap: wrap;
    }
}
